*{}
body{
    background-color: brown;
}
h1{
    font-size: 100px;
}
h2,h3{
    color: darkseagreen;

}
a{
    font-weight: bold;
}
a:link{
    color: crimson;
}
a:visited {
    /*betu szine*/
    color: pink;
    /* ne maradjon alahuzva */
    text-decoration: none;
  }
  a:hover{
    color: blue;
    font-weight: normal;
    font-size: larger;
  }
  a:active{
    color: yellow;
  }
  img{
    width: 100%;
    
  }